<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>About</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/about.css'>
</head>
<body>
    <img class="logogta" src="../img/logogta.gif" alt="Logo de GTA">
    <ul id="tabs">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="evolucion.html">Evolución</a></li>
        <li><a href="creadores.html">Creadores</a></li>
        <li>
            <img src="../img/imagentab.png" alt="Imagen" class="logo">
        </li>
        <li class="right"><a href="about.html">About</a></li>
        <li class="right"><a href="./iniciosesion.html">Contacto</a></li>
    </ul>
    <div class="about-me">
        <h2>Sobre Mí</h2>
        <p>Hola, soy Oscar, un estudiante del Claudio Moyano, y este es mi trabajo para la asignatura de WEB, una materia que me apasiona. A través de este proyecto, he aprendido sobre el diseño web, la programación y la importancia de crear experiencias interactivas para los usuarios.</p>
        <p>Esta página tiene todos los derechos reservados y no se puede usar ni copiar, así que solo visualiza. Cabe mencionar que la página tampoco es funcional debido a mi falta de experiencia, pero espero que puedas disfrutar del contenido que he preparado.</p>
        
        <div class="game-section">
            <h3 class="game-title">🌟 ¡JUSTO AQUÍ DEBAJO PUEDES JUGAR! 🌟</h3>
            <p class="game-description">¡Prepárate para sumergirte en el emocionante mundo de GTA San Andreas! Este icónico juego no solo ofrece una jugabilidad increíble, sino que también ha dejado una huella imborrable en la cultura de los videojuegos. Desde su historia cautivadora hasta su vasto mundo abierto, GTA San Andreas es una experiencia que no te puedes perder.</p>
            <p class="game-description">Haz clic en el enlace a continuación para disfrutar de un emocionante juego de GTA San Andreas. ¡No te lo pierdas! Este juego es un homenaje a todos los fanáticos de la saga y una oportunidad para revivir momentos inolvidables.</p>
            <ul class="game-list">
                <li>
                    <a class="game-link" href="../minijuegos/gtasa/index.html">👉 Jugar a GTA San Andreas / Juego GTA 1 👈</a>
                </li>
            </ul>
            <p class="game-note">⚠️ Recuerda, este es un juego clásico que ha entretenido a millones de jugadores en todo el mundo. ¡Disfruta y comparte tus experiencias!</p>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <img src="../img/creativecommons.png" class="logocc" alt="Licencia Creative Commons">
            <div class="footer-info">
                <p>Oscar García</p>
                <p>&copy; 2024</p>
                <a class="aboutfoot" href="about.html">About</a>
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-image-frame">
                <img src="../img/OIP.jpg" alt="Descripción de la imagen" class="footer-image">
            </div>
            <div class="footer-links">
                <a class="footer-link" href="creadores.html">Creadores</a>
                <a class="footer-link" href="evolucion.html">Evolución</a>
                <a class="footer-link" href="iniciosesion.html">Contacto</a>
            </div>
        </div>
    </footer>
</body>
</html>