<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Evolucion</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/evolucion.css'>
</head>
<body>
    <img class="logogta" src="../img/logogta.gif">
    <!-- <h1 class="titulo">Rockstar Games - Grand Theft Auto</h1> -->
    <ul id="tabs">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="evolucion.html">Evolución</a></li>
        <li><a href="creadores.html">Creadores</a></li>
        <li>
            <img src="../img/imagentab.png" alt="Imagen" class="logo">
        </li>
        <li class="right"><a href="about.html">About</a></li>
        <li class="right"><a href="./iniciosesion.html">Contacto</a></li>
    </ul>
    <div class="container">
        <div class="image-container">
            <img src="../img/R8RY.gif" alt="Your image">
        </div>
        <h2 class="titulo" style="border-bottom: 1px solid #1a1a1a; margin-bottom: 20px;">¿Qué sabemos sobre la evolución de la Saga de GTA?</h2>
        <div class="contenido">
            <p class="texto-introduccion">La serie comenzó en 1996, en etapa de diseño, y ya el 1 de noviembre de 1997 se lanzó al mercado Grand Theft Auto, que salió para diferentes consolas y en PC. Tenía una vista cenital y un potencial limitado, pero sentó las bases de la saga GTA.</p>
            
            <ul class="lista-juegos">
                <li class="juego">
                    <h3 class="titulo-juego">Grand Theft Auto</h3>
                    <p class="texto2">La primera aparición de GTA en una plataforma de Nintendo ocurrió en 1999, en el Game Boy Color, el cual fue una adaptación de la primera aparición. El 29 de abril de 1999 salió a la venta Grand Theft Auto: London 1969, una expansión para PC y PlayStation, que tiene lugar en Londres en el año 1969. El 1 de junio de 1999 salió a la venta Grand Theft Auto: London 1961, una expansión descargable gratuita para PC. Tiene lugar en Londres y en Mánchester (solo en multijugador) en el año 1961.</p>
                </li>
                <li class="juego">
                    <h3 class="titulo-juego">Grand Theft Auto 2</h3>
                    <p class="texto2">El 27 de octubre de 1999 salió a la venta Grand Theft Auto 2, también para PlayStation, Dreamcast y PC. Incluye varios elementos nuevos pero mantiene la vista cenital centrada.</p>
                </li>
                <li class="juego">
                    <h3 class="titulo-juego">Grand Theft Auto III</h3>
                    <p class="texto2">El 22 de octubre de 2001 salió a la venta Grand Theft Auto III, revolucionando el estilo del juego con una vista en tercera persona desde atrás, con claras inspiraciones en la saga de Sega «Shenmue» (1999), dándole una trama al personaje principal y una ciudad enteramente hecha en 3D, Liberty City (basada en la Nueva York del año 2001); el juego salió para PC, PlayStation 2 y Xbox. El 12 de noviembre de 2010 se puso a la venta una versión para Mac.​ El 15 de diciembre de 2011 salió para iOS y Android. El 26 de septiembre de 2012 salió para PS3.</p>
                </li>
                <li class="juego">
                    <h3 class="titulo-juego">Grand Theft Auto: Vice City</h3>
                    <p class="texto2">El 27 de octubre de 2002 salió a la venta Grand Theft Auto: Vice City, teniendo el mismo estilo de juego que el anterior, con la diferencia de que el personaje principal tiene más rol en el juego, ya que puede interactuar con las personas. También es posible conducir motos y helicópteros. Está ambientado en 1986 en la ciudad de Vice City, inspirada en Miami (Florida)...</p>
                </li>
                <li class="juego">
                    <h3 class="titulo-juego">Grand Theft Auto Advance</h3>
                    <p class="texto2">El 25 de octubre de 2004 salió a la venta Grand Theft Auto Advance, que habiéndose pensado como una conversión portátil de GTA III, acaba siendo una aventura completamente nueva para GameBoy Advance. La ciudad vuelve a ser Liberty City y transcurre poco tiempo antes de los eventos de GTA III.</p>
                </li>
                <li class="juego">
                    <h3 class="titulo-juego">Grand Theft Auto: San Andreas</h3>
                    <p class="texto2">El 26 de octubre de 2004 salió a la venta Grand Theft Auto: San Andreas en Norteamérica y luego salió el 29 de octubre en Europa, dando una nueva visión del juego más personalizada. La acción transcurre en 1992, durante las famosas guerras de pandilleros en EE. UU...</p>
                </li>
                <li class="juego">
                    <h3 class="titulo-juego">Grand Theft Auto: Liberty City Stories</h3>
                    <p class="texto2">El 25 de octubre de 2005 salió a la venta Grand Theft Auto: Liberty City Stories, para PlayStation Portable (PSP), y el 6 de junio de 2006 sale de nuevo al mercado, pero para la plataforma Play Station 2. Se ambienta en Liberty City, la ciudad de GTA III, haciendo constantes referencias a este juego. Los hechos se desarrollan 3 años antes de lo ocurrido en GTA III.</p>
                </li>
                <li class="juego">
                    <h3 class="titulo-juego">Grand Theft Auto IV</h3>
                    <p class="texto2">El 29 de abril de 2008 salió a la venta Grand Theft Auto IV, cuya novedad es que la historia se desarrolla en una nueva y renovada ciudad ficticia de Liberty City. Se lanzó en Xbox 360, PS3 y el 2 de diciembre del mismo año en PC.</p>
                </li>
                <li class="juego">
                    <h3 class="titulo-juego">Grand Theft Auto: Chinatown Wars</h3>
                    <p class="texto2 ">El 17 de marzo de 2009 salió a la venta Grand Theft Auto: Chinatown Wars, para Nintendo DS, que también está ambientado en Liberty City. El 20 de octubre de 2009 salió a la venta para la PSP.</p>
                </li>
                <li class="juego">
                    <h3 class="titulo-juego">Grand Theft Auto V</h3>
                    <p class="texto2">El 17 de septiembre de 2013 Grand Theft Auto V fue lanzado mundialmente (a excepción de Japón, Brasil y algunos otros países). GTA V recaudó 800 millones de dólares (591,2 millones de euros) en sus primeras 24 horas en el mercado, convirtiéndose así en el estreno de videojuego más exitoso de la historia...</p>
                </li>
            </ul>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <img src="../img/creativecommons.png" class="logocc" alt="Licencia Creative Commons">
            <div class="footer-info">
                <p>Oscar García</p>
                <p>&copy; 2024</p>
                <a class="aboutfoot" href="about.html">About</a>
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-image-frame">
                <img src="../img/OIP.jpg" alt="Descripción de la imagen" class="footer-image">
            </div>
            <div class="footer-links">
                <a class="footer-link" href="creadores.html">Creadores</a>
                <a class="footer-link" href="evolucion.html">Evolucion</a>
                <a class="footer-link" href="iniciosesion.html">Contacto</a>
            </div>
        </div>
    </footer>
</body>
</html>